/* Styles for ChatLayout */
.chat-layout{
    position: sticky;
    top: 0;
    height: 100vh;
    grid-column: 1 / 2;
    min-width: 250px;
    background: var(--background-primary);
    scrollbar-color: rgba(255, 255 , 255,0.16) transparent;
    overflow-y: auto;
    scrollbar-width: thin;
    border-right: 2px solid #8696A0;
}

.search-bar{
    height: 50px;
    width: 100%;
    display: flex;
    cursor: pointer;
    margin-top: 40px;
    font-size: 1.25rem;
    align-items: center;
    background-color: #2A3A45;
    color: var(--accent-colour);
    font-family: var(--secondary-font), serif;
    border-top: 1px solid var(--accent-colour);
    border-bottom: 1px solid var(--accent-colour);
}

.search-bar img{
    margin-right: 0.5rem;
    height: 24px;
    width: 24px;
}

.search-bar input{
    color: #ffffff;
    margin: 0;
    border: none;
    height: 100%;
    background-color: #2A3A45;
}

.user-chat, .user-chat-search{
    gap: 0.75rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
}

.user-chat:hover, .user-chat-search:hover{
    cursor: pointer;
    background: #2A3A45;
}

.user-chat img, .user-chat-search img{
    height: 48px;
    min-width: 48px;
    padding: 1px;
    border-radius: 25px;
    background: linear-gradient(315deg, rgb(65 233 148 / 0.5) 14.73%, rgb(154 181 168 / 0.65) 83.68%);
}

.user-chat-search{
    padding: 0.25rem 0.75rem;
}

.user-chat-search img{
    height: 30px;
    min-width: 30px;
    border-radius: 25px;
}

.user-chat svg{
    height: 40px;
    padding: 5px;
    min-width: 40px;
    border-radius: 25px;
    background: white;
}


.user-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.875rem;
    color: #d6d6d6;
    font-family: var(--secondary-font), sans-serif;
    padding: 10px 0;
    gap: 10px;
    overflow: hidden;
}

.user-name {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    overflow: hidden;
}

.user-name h4 {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--secondary-colour);
    font-family: var(--primary-font), serif;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-chat-last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #d6d6d6;
    font-size: 0.875rem;
    margin: 0;
}

.input-container {
    padding: 0.6rem 1rem;
    background-color: #1e2a30;
    border-top: 1px solid var(--accent-colour);
}

.input-container input{
    margin: 0;
}

.selected{
    background-color: #2A3A45;
}


