# Development
ENV=DEV
SERVER_PORT=YOUT_PORT
DEPLOYMENT_IP=YOUR_DEPLOYMENT_IP

# DataBase
DB_PORT=YOUR_DATABASE_PORT
DB_NAME=YOUR_DATABASE_NAME
DB_HOSTNAME=YOUR_DATABASE_IP
DB_USER=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD

# Secrets
ACCESS_SECRET=YOUR_ACCESS_SECRET
REFRESH_SECRET=YOUR_REFRESH_SECRET
PASSWORD_HASH=YOUR_PASSWORD_HASH
