/* Styles for FeatureCard */
.feature-card{
    color: white;
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px 50px;
    background-color: var(--background-secondary);
    font-family: var(--secondary-font),sans-serif;
}

.feature-card:nth-last-child(1){
    grid-column: 2/3;
}

.svg{
    width: 40px;
    height: 40px;
}

.feature-card h3{
    margin: 20px 0;
}

.feature-card p{
    color: var(--accent-colour);
}