/* Styles for NavBar */
nav{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid var(--accent-colour);
}

nav ul{
    gap: 0.5rem;
    padding: 0;
    height: 100%;
    display: flex;
    margin: 0 100px;
    align-items: center;
    justify-content: flex-end;
}

nav ul li{
    color: #ffffff;
    list-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    min-width: fit-content;
    font-family: var(--primary-font), sans-serif;
}

nav ul li:hover{
    color: var(--secondary-colour);
}

nav ul li:nth-child(3){
    color: #262626;
    font-weight: 600;
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--secondary-colour);
}

nav ul li:nth-child(4){
    color: #262626;
    font-weight: 600;
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--secondary-colour);
}

nav ul li:nth-child(3):hover{
    scale: 1.05;
    background-color: var(--secondary-colour-hover);
}

nav ul li:nth-child(4):hover{
    scale: 1.05;
    background-color: var(--secondary-colour-hover);
}

nav ul li a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    nav ul{
        margin: 0 80px;
    }
}

@media screen and (max-width: 960px) {
    nav ul{
        margin: 0 60px;
    }
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 450px) {
    nav ul li{
        font-size: 0.825rem;
    }
    nav ul{
        margin: 0 20px;
    }
}