@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/RobotoSlab.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --accent-colour : #8696A0;

    --secondary-colour: #25D366;
    --secondary-colour-hover: #80ffae;

    --background-primary : #1F2C35;
    --background-primary-hover: #273641;

    --background-secondary: #2A3A45;
    --background-secondary-hover: #32434F;

    --primary-font : "Roboto Slab", serif;
    --secondary-font : 'OpenSans', sans-serif;
}

h1{
    font-family: var(--secondary-font), serif;
}

body{
    background-color: var(--background-primary);
}

body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

#root{
    height: 100vh;
}

a{
    text-decoration: none;
}